@import 'variable';

.category:not(body) {
    margin-bottom: 50px;
    position: relative;
    overflow: inherit;

    & > p {
        margin-bottom: 30px;
        border-bottom: 1px solid #ffffff;
        display: inline-block;
        position: relative;
        z-index: 2;
    }

    & > .bg {
        width: 400px;
        height: 400px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        background-size: contain;
        z-index: 1;
    }

    .contents {
        justify-content: space-around;
        margin: 0;

        & > a {
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            width: 100%;
        }

        .bg {
            width: 100%;
            height: 150px;
            background-size: cover;
        }

        & > a:nth-child(1),
        & > a:nth-child(2) {
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            width: 50%;
            display: block;
            border-radius: 4px;
            overflow: hidden;
            
            .bg {
                height: 200px;
            }

            .feature, .detail {
                -webkit-box-flex: 0;
                -ms-flex: none;
                flex: none;
                width: 100%;
                position: relative;
                padding: 0;

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #EFFF00;
                    color: #2F3300;
                    padding: 5px 20px;
                    padding-right: 50px;
                    -webkit-clip-path: polygon(0% 0%, 100% 0, 62% 100%, 0 100%);
                    clip-path: polygon(0% 0%, 100% 0, 70% 100%, 0 100%);
                }
            }

            .detail {
                h1 {
                    margin: 20px 0;
                }
            }
        }
        

    }
}

.archive {
    @media screen and (max-width: $mobile-width) {
        .introduction,
        .register {
            display: none;
        }

        .category:not(body) {
            & > .bg {
                position: relative;
                transform: inherit;
                margin: 0 auto;
            }

            h1, p {
                text-align: center;
                border: 0;
            }

            .contents {

                .column {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
    
    @media screen and (max-width: $mobile-width) {
        .category {

            .contents {
                background-color: transparent !important;
                padding: 0;
                display: block !important;
            }
            
            a {
                display: flex !important;
                width: 100% !important;
                margin: 0;
                justify-content: space-between;
                flex: 1 !important;
                padding: 0 !important;

                .bg {
                    height: 200px;
                }

                .column {
                    flex: none !important;
                    padding: 0;
                }

                .feature {
                    width: 30% !important;
                    padding: 20px !important;
                    flex-basis: 30%;
                    padding-left: 0 !important;

                    span {
                        display: none;
                    }
                }

                .detail {
                    width: 68% !important; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h1 {
                        font-size: 25px;
                        text-align: left;
                    }

                    p {
                        text-align: left;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $mobile-small-width) {
        .category {
            a {
                display: block !important;

                .feature,
                .detail {
                    width: 100% !important; 
                }
            }
        }
    }
}