
@font-face {
    font-family: 'psl_similanya_proregular';
    src: url('../fonts/psl/psl146pro-webfont.eot');
    src: url('../fonts/psl/psl146pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl/psl146pro-webfont.woff2') format('woff2'),
         url('../fonts/psl/psl146pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_similanya_proitalic';
    src: url('../fonts/psl/psl147pro-webfont.eot');
    src: url('../fonts/psl/psl147pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl/psl147pro-webfont.woff2') format('woff2'),
         url('../fonts/psl/psl147pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_similanya_probold';
    src: url('../fonts/psl/psl148pro-webfont.eot');
    src: url('../fonts/psl/psl148pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl/psl148pro-webfont.woff2') format('woff2'),
         url('../fonts/psl/psl148pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_similanya_probold_italic';
    src: url('../fonts/psl/psl149pro-webfont.eot');
    src: url('../fonts/psl/psl149pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl/psl149pro-webfont.woff2') format('woff2'),
         url('../fonts/psl/psl149pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_similanyaextra_proregular';
    src: url('../fonts/psl/psl150pro-webfont.eot');
    src: url('../fonts/psl/psl150pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl/psl150pro-webfont.woff2') format('woff2'),
         url('../fonts/psl/psl150pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_similanyaextra_proitalic';
    src: url('../fonts/psl/psl151pro-webfont.eot');
    src: url('../fonts/psl/psl151pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl/psl151pro-webfont.woff2') format('woff2'),
         url('../fonts/psl/psl151pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}