@import 'variable';

.introduction {
    .bg {
        width: 100%;
        height: 400px;
    
        @media screen and (max-width: $mobile-width) {
            height: 50vw;
        }
    }
    p {
        color: $color-font;
    }

    @media screen and (max-width: $mobile-width) {
        padding: 0;

        h1 {
            font-size: 25px;    
        }

        p {
            font-size: 18px;
        }
    }
}

.mention {
    .bg {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        span {
            margin-bottom: 20px;
            width: 50%;
            text-align: center;
            font-size: 17px;
        }
    
    }
    p {
        margin-top: 10px;
        text-align: center;
    }

    @media screen and (max-width: $mobile-width) {
        background-color: #8B0A07 !important;
        margin: 0;

        .bg {
            height: 10vh;    
        }

        .column {
            width: 50%;
            flex: inherit;

            span {
                display: none;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

.register {
    color: $color-font;

    h4 {
        font-size: 40px;

        @media screen and (max-width: $mobile-width) {
            font-size: 25px;
            text-align: center;
        }
    }
    
    ul {

        li {
            font-size: 26px;
            line-height: 1;

            span {
                font-size: 40px;
            }
        }
    }

    .left {
        padding-bottom: 0;
        .bg {
            height: 150px;
            background-position: right;
        }

        .columns:not(:last-child),
        .columns:last-child {
            margin-bottom: 0;
        }
    }

    .right {
        justify-content: center;
        align-items: center;
    }

    &.width-80 {
        width: 80%;

        .bg {
            height: 100px;
        }

        h4 {
            font-size: 30px;
        }
        li {
            font-size: 20px;

            span {
                font-size: 30px;
            }
        }
    }

    @media screen and (max-width: $mobile-width) {
        
        .qr-code {
            display: none;
        }
    }

}

.way-to-website {
    h4 {
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

    a {
        color: $color-font;
    }

    .bg {
        height: 100px;
    }

    li {
        text-align: center;
    }
}

.blog-category {
    border-radius: 4px;

    h3 {
        font-size: 30px;
        padding: 5px;
        color: #B70C0A;
        background-color: $background-yellow;
        margin-bottom: 20px;
    }

    p {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        display: inline-block;
    }

    .more {
        color: #B70C0A;
        background-color: $background-yellow;
        padding: 5px 20px;
        border-radius: 4px;
        margin-bottom: 20px;
        display: inline-block;
    }

    .bg {
        height: 150px;
        background-size: cover;
        border-radius: 10px;
    }

    .content-heading {
        font-size: 30px;
    }

    .content-description {
        border: 0;
        font-family: 'psl_similanya_probold';   
    }
    
}

.head-category {
    margin: 0;
    margin-bottom: 10px;
    justify-content: space-between;
    display: block;

    .column {
        background-color: #ffba00;
        width: 48.8%;
        flex: inherit;
        border-radius: 2px;
        padding-bottom: 0;
        margin-bottom: 10px;

        .bg {
            height: 10vh;
            background-size: cover;
            -moz-box-shadow:    inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow:         inset 0 0 10px #000000;
        }

        h1 {
            font-size: 20px;
            text-align: center;
            color: #000000;
            margin-top: 5px;
        }
    }

    @media screen and (min-width: $mobile-width) {
        display: none !important;
    }
}

@media screen and (max-width: $mobile-width) {
    .home {
        .way-to-website,
        .blog-category {
            display: none
        }
    }

    .register {
        .left {
            .columns {
                .columns {
                    .is-half {
                        padding: 20px 0;

                        &:first-child {
                            width: 40%;
                        }

                        &:last-child {
                            width: 70%;
                        }
                    }
                }
            }

            li {
                font-size: 22px;
                padding-left: 5px;
            }

            span {
                font-size: 25px;
            }

            .bg {
                height: 55px;
            }
        }
    }
    
    .way-to-website {
        .column {
            width: 50% !important;
        }
    }
}

@media screen and (max-width: $mobile-small-width) { 
    .register {
        .left {
            & > .is-mobile {
                flex-direction: column;

                .column {
                    margin: 30px 0;
                }
            }
        }
    }

    .way-to-website {
        .is-mobile {
            flex-direction: column;

            .column {
                width: 100% !important;
            }
        }
    }
}

@media screen and (min-width: $mobile-min-width) and (max-width: $mobile-width) {
    .introduction {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .mention {
        .column {
            width: 25%;
        }
    }

    .register {
        .left {
            h4 {
                font-size: 35px;
            }

            li {
                font-size: 30px;
            }

            & > .columns {
                margin: 10px 0;
            }
        }

        .qr-code {
            display: block;
        }
    }

    .way-to-website {
        .column {
            width: 25% !important;
        }
    }
}