@import 'variable';

.box {
    background-color: transparent;
    box-shadow: none;

    .box-heading {
        font-size: 40px;
        margin-bottom: 40px;

        &.mega-phone {
            &:before,
            &:after {
                content: '';
                width: 100px;
                height: 57px;
                background-position: center;
                background-size: contain;
                display: inline-block;
                background-repeat: no-repeat;
                transform: translateY(27%);
            }

            &:before {
                 background-image: url('../images/MegaphoneA.png');
            }

            &:after {
                 background-image: url('../images/MegaphoneB.png');
            }
        }
    }

    & > p {
        color: $background-yellow;
        font-family: 'psl_similanya_probold';
    }

    & > div {
        color: $color-font;

        .bg {
            height: 85px;
            margin: 20px 0;

            &.small {
                height: 50px;
                margin: 0;
            }
        }

        h5 {
            font-size: 30px;
            max-width: 80%;
            margin: 0 auto;
        }

        p {
            font-size: 24px;
        }

        .background-red {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    @media screen and (max-width: $mobile-width) {
        .box-heading {
            font-size: 25px;

            &.mega-phone:before,
            &.mega-phone:after {
                width: 70px;
                height: 40px;
            }
        }

        h5 {
            margin: 0 !important;
            font-size: 18px !important;
            max-width: 100% !important;
        }

        p {
            font-size: 18px !important;
        }
    }

    @media screen and (max-width: $mobile-small-width) {
        .box-heading {
            font-size: 30px;

            &:before,
            &:after {
                content: '';
                background: transparent !important;
                width: 0 !important;
                height: 0;
            }
        }
        .is-mobile {
           flex-direction: column;

           .column {
               width: 100% !important;

               h5 {
                   font-size: 25px !important;
               }

               p {
                   font-size: 22px !important;
               }
           }
       }
    }

    @media screen and (min-width: $mobile-min-width) {
        .box-heading {
            font-size: 35px;
        }

        p {
            font-size: 25px !important;
        }
    }
}